    .social{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }
 .social > .social-nav{
     background-repeat: no-repeat;
    text-indent: -99999px;
    display:inline-block;
    margin: 10px;
    border: 0;
    outline: 0;
}
.linkedin{
    background: url(linkedin.png);
    position: relative;
    
    width: 32px;
    height: 32px;
}
.instagram{
    background: url(instagram-esbocado.png);
    width: 32px;
    height: 32px;
    position: relative;
} 
.gmail{
    background: url(o-email.png);
    width: 32px;
    height: 32px;
    position: relative;
    
    
}
.copyright{
    position: absolute;
    font-size: 12px;
    right: 5px;
}
@media(max-width:770px){
    .copyright{
        font-size: 8px;
        text-align: center;
    }
}