.skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.skills >.ul-skills{
    margin-top: 20px;
    position: relative;
}

.skills > .ul-skills > .list-skills > .name{
    font-size: 30px;
    color: whitesmoke;
    position: absolute;
    text-shadow: black 0.5px 0.5px;
}
.skills > .ul-skills > .list-skills > .css{
    top: 3%;
    left: 34%;
}
.skills > .ul-skills > .list-skills > .html{
    top: 80px;
    left: 29%;
}
.skills > .ul-skills > .list-skills > .javascript{
    top: 145px;
    left: 15%;
}
.skills > .ul-skills > .list-skills > .c{
    top: 215px;
    left: 34%;
}


.progress {
    background: #BFC0C0;
    height: 30px;
    width: 200px;
    border-radius: 8px;
    position: relative;
    margin-top: 40px;
    
}
    @keyframes loading {
        from { width: 1% }
        to { width: 75% }
}
      
      .progress::after {
        animation: loading 3s  ease-in-out;
        animation-fill-mode: forwards;
        background:#2D3142;
        content: '';
        position: absolute;
        left: 0; top: 0; bottom: 0;
        border-radius: 8px;
        
        
      }
      
      @keyframes loading3 {
        from { width: 1% }
        to { width: 70% }
      }
      .middle::after{
        animation: loading3 3s  ease-in-out;
        animation-fill-mode: forwards;
        background: #2D3142;
        content: '';
        position: absolute;
        left: 0; top: 0; bottom: 0;
        border-radius: 8px;
      }


      @keyframes loading2 {
        from { width: 1% }
        to { width: 60% }
      }
      .last::after{
        animation: loading2 3s  ease-in-out;
        animation-fill-mode: forwards;
        background: #2D3142;
        content: '';
        position: absolute;
        left: 0; top: 0; bottom: 0;
        border-radius: 8px;
      }
      @keyframes loading4 {
        from { width: 1% }
        to { width: 40% }
      }
      
      .last2::after{
        animation: loading4 3s  ease-in-out;
        animation-fill-mode: forwards;
        background: #2D3142;
        content: '';
        position: absolute;
        left: 0; top: 0; bottom: 0;
        border-radius: 8px;
      }