body{
    font-family: 'Karla', sans-serif;
    color: #E5EEF0;
}
h2{
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Changa One', cursive;
    color: #D8E6E9;
    text-align: center;
}
p{
    text-shadow: black 0.5px 0.5px;
    font-size: 22px;
    font-family: 'Karla', sans-serif;
    line-height: 1.4;
}